body {
 background-color: black;
}

.page-container{
	width:100%;
	background-color: white;
	height: 680px;
	margin-left: 4px;

}
.header{
	width: 100%;
	height: 130px;
	background-color: black;
	border-bottom: 1px solid red;
}
.logo{
	float: left;
	
}
.header-img{
	float: right;
	;
	margin-right: 3%;
}
.producto{
	background-color: black;
	width: 200px;
	height: 40px;
	margin-left: 30%;
	
	
	
	padding-bottom: 2px;
	text-align: center;
	letter-spacing: 7px;
	font-size: 50px;
}
.AMARILLO{
	color:yellow;
}
.AZUL{
	color:blue;
}
.ROJO{
	color:red;
}
.content{
	float: left;
 	width: 400px;
 	background-color: white;
	color:black;
	margin-bottom: 1em;
	height: 400px;
	margin-left:14%;
}
.content-content{
	float: right;
 	width: 400px;
	color:white;
	margin-bottom: 1em;
	margin-top: 1em;
	height: 400px;
	margin-right:14%;
}
.two-columns{
	width: 48%;
	display: inline-block;
}
.div1{
	border-top: 1px solid red;
	color:white;
	text-align: center;
}
.div2{
	color: white;
	width: 400px;
	height: 130px;
	bottom: 0;
	float: right;
	background-color: black;
	
}
a:link {
   color: gold;
   background-color: transparent;
   text-decoration: none;
   font-size: 120%;
   margin: 12px;
   margin-top: 10px;
   font-family: arial,sans-serif;
}
a:visited {
   color: blue;
   background-color: transparent;
   text-decoration: none;
   font-size: 150%;
}
a:hover {
   color: gray;
   background-color: transparent;
   text-decoration: none;
   font-size: 150%;
}
a:active {
   color: red;
   background-color: transparent;
   text-decoration: none;
   font-size: 150%;
}